<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AI Tutor</title>
    </head>
    <body>
        <h1>Welcome, Ask me anything</h1>

        <div class="contents">

            <div class="chat">
        
        
                <div id="chat-messages">
                </div>
        
        
                <div class="chat-form">
                    <hr>
                    <label>
                        Chat:
                        <input id="chat-text-box" type="text">
                    </label>
                    <button id="chat-button" onclick="sendChat()">Send</button>
                </div>
        
    
    </body>
</html>
